<footer class = global_footer>
   <img class="footer_image" src="views/media/b.jpg"></img>
  <div>
    <p>Quick Links</p>
    <div class="footer_quick_links">
      <ul>
        <li><a href="HomeWebsite.html">Home</a></li>
        <li> <a href="Opleiding.html">opleidingen</a></li>
        <li><a href="Niveau.html">Niveau</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="Contact.html">Contact</a></li>
  </ul>
</div>
  </div>
  <div>
    <p>Social Media</p>
      <div class="social_media"> 
        <li><a href="https://nl-nl.facebook.com/NildaPintoSBOSteenrijk/">Facebook</a></li>
        <li><a href="https://an.linkedin.com/in/godsonn-godsonn-5349791b1">LinkedIn</a></li>
        <li><a href="http://nildapintosbo.yolasite.com/">History</a></li>
      </div>
  </div>
  <div>

  </div>
</footer>