<!DOCTYPE html>
<html>
<head>
<title>Nilda Pinto SBO</title>
<link rel="stylesheet" href="../views/css/style.css">

</head>
<body>

<div class="navbar">
  <ul>
    <li>
      <a href="HomeWebsite.html">Home</a>
    </li>
    <li>
      <a href="Opleiding.html">Opleidingen</a>
    </li>
    <li>
      <a href="Niveau.html">Niveau</a>
    </li>
    <li>
      <a href="about.html">About</a>
    </li>
    <li>
      <a href="Contact.html">Contact</a>
    </li>
  </ul>
</div>

<div class="home_group">
<h1>Robert Brand</h1>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia excepturi repellendus dolor dolores, quae ut totam velit optio fuga vero nesciunt modi rem quas blanditiis sapiente eveniet ipsam adipisci ea!
Dicta dignissimos praesentium molestiae, necessitatibus consequuntur quo omnis vel hic quas! Nobis, tempore corporis minima, nulla tempora laboriosam a praesentium error suscipit animi natus, saepe cupiditate optio officiis ullam autem.
Laboriosam expedita tempore, explicabo corrupti numquam dignissimos earum quod porro cupiditate voluptatibus. Itaque aperiam dolor a dolores pariatur ratione accusamus error non iusto magni! Ullam praesentium illo perferendis error repellat.
A maxime aliquid adipisci corporis magni unde cum provident laboriosam nihil rerum quia, commodi placeat itaque nostrum asperiores nisi possimus non aspernatur et odit molestias corrupti nobis deserunt. Obcaecati, enim?
Ad adipisci placeat voluptate quibusdam possimus sapiente? Quis numquam dolorem harum. Consectetur, ut dolores dolor sit laudantium ratione quibusdam recusandae. Necessitatibus asperiores ea eum doloremque atque. Vel tempora nemo voluptas!
Quasi, nostrum eum. Autem cum amet eveniet dicta neque ipsa possimus labore sequi perferendis impedit molestiae nam, reprehenderit ex natus facilis deleniti nihil nemo incidunt quo cupiditate ipsam dolorem unde.
Quidem, voluptas! Quod id enim cumque quas aliquam blanditiis ducimus quibusdam quaerat similique saepe, aut veritatis reiciendis laboriosam at soluta perferendis harum magni natus facilis sequi voluptatum. Voluptates, possimus sequi.
Temporibus excepturi quasi iure laudantium aliquid in consequatur error, dignissimos praesentium, eaque commodi blanditiis. Ullam consectetur reprehenderit possimus esse similique, corporis neque. Voluptates quis, repellat id repellendus natus aut dicta.
Ea reiciendis eveniet natus deserunt repellat accusantium harum fugit praesentium culpa placeat tempore, voluptate suscipit animi eos quisquam ratione quibusdam unde quis eum. Aliquam ab, odit omnis quaerat ex distinctio!
Veniam velit impedit delectus corrupti aliquam quis commodi illum rerum quos consequatur eum harum, magni, voluptatibus, perspiciatis quae voluptatem cumque ad nostrum eveniet suscipit! Odit ad commodi perferendis tempore dicta?</div>
</body>
<footer class = global_footer>
  <img class="footer_image" src="../views/media/Nilda1.jpg"></img>
 <div style="margin-left:150px">
   <p>Quick Links</p>
   <div class="footer_quick_links">
     <ul>
       <li><a href="HomeWebsite.html">Home</a></li>
       <li> <a href="Opleiding.html">opleidingen</a></li>
       <li><a href="Niveau.html">Niveau</a></li>
       <li><a href="about.html">About</a></li>
       <li><a href="Contact.html">Contact</a></li>
 </ul>
</div>
 </div>
 <div style="margin-left:0px">
   <p>Social Media</p>
     <div class="social_media"> 
       <li><a href="https://nl-nl.facebook.com/NildaPintoSBOSteenrijk/">Facebook</a></li>
      <li><a href="https://www.schoolandcollegelistings.com/AN/Willemstad/164406837030279/Nilda-Pinto-SBO">News</a></li>
       <li><a href="http://nildapintosbo.yolasite.com/">History</a></li>
     </div>
 </div>
 <div class="footer_info" style="margin-left: 0px;">
   <p>Nilda Pinto SBO</p>
 
     <ul>
     <li>Wageningenstraat z/n</li>
     <li>Willemstad, Curaçao</li>
     <li>+5999 46118 38</li>
     <li><a href="mailto:decanaat.nildapinto@gmail.com">decanaat.nildapinto@gmail.com</a></li>
     </ul>

 </div>
 <div>

 </div>

</footer>
<div class="outer_footer"><p>
  This website is copyrighted by Nilda Pinto SBO @ Created by Robert Brand 2022
</p></div>
</html>
