* {
  font-family: verdana;
}
body {
  background-image: url("views/media/b.jpg");
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

h1,
h2 {
  color: #212121;
  text-align: center;
}

p {
  font-size: 15px;
  text-align: center;
  color: #333333;
}

img {
  width: 800px;
  height: auto;
}
/*Home page images*/
.hero-image {
  width: 500px;
  height: auto;
  position: relative;
  left: 250px;
  bottom: 300px;
}

.aligncenter-1 {
  background-color: aliceblue;
}

.bottom_home_image {
  width: 500px;
}
/*table template for niveau.html*/
.table_container {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: auto;
}
.table_container table {
  border-spacing: 0;
}
.table_container tr {
  text-align: center;
}
.table_container tr:first-child {
  background: #e6ce89;
  font-weight: bold;
}

.table_container th {
  position: sticky;
  background: #e6ce89;
  border: 2px;
  border-color: black;
  border-style: solid;
}
.table_container tr:nth-child(4),
.table_container tr:nth-child(2) {
  background: #d8d8d8;
}
.table_container li {
  list-style-type: none;
}
.table_text_left {
  text-align: left;
}
/*END*/

/*home page div box area controle*/
.home_group {
  margin-left: 15%;
  margin-right: 15%;
}

/* First home text Position */
.first-home-text {
  position: relative;
  right: 150px;
  padding-right: 300px;
  margin-right: 150px;
  top: 60px;
}

/* Second home text Position */
.second-home-text {
  position: relative;
  background-color: #f0a46e;
  border: solid #ed8f4c;
  border-radius: 50px;
}

a {
  text-align: center;
}
.home {
  text-align: center;
}
/*Navbar*/
.navbar {
  background: #1e90ff;
  width: 100%;
  height: 100px;
  text-align: center;
  background-size: 100%;
  position: relative;
}
.navbar ul {
  margin-top: 0px;
  padding-top: 40px;
}
.navbar li {
  list-style: none;
  display: inline-block;
  margin: 0px 100px;
  margin-bottom: 25px;
}
.navbar a {
  text-decoration: none;
  color: #333333;
}
/*END*/

/*Buttons*/
.Button {
  background-color: DodgerBlue; /* Blue background */
  border: Auto; /* Remove borders */
  color: #f9f9f9; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  text-align: center;
}
.Button:hover {
  background-color: RoyalBlue;
}
/*END*/

/*google map contact page*/
.contact_map {
  /* margin-top: 10px; margin-left: 33%;*/
  justify-content: center !important;
  position: relative;
  text-align: center;
  background-color: tomato;
  padding-bottom: 25px;
}
.content_map iframe {
  margin: 0px auto;
  display: inline-block;
}
/*END*/
/*Text box template*/
.text_align_template {
  justify-content: center;
}
/*special div box nesting made for having left & right views*/
.box_template {
  display: flex;
  justify-content: center;
  line-height: 1;
}
.box_template_2nd {
  margin-left: 60px;
}

.nilda-pinto-sbo {
  margin-right: 0px;
}
.box_template img {
  width: 150px;
  height: auto;
}
.box_template_h1 {
  color: #a04f3c;
}
.box_template_text {
  width: 500px;
  height: auto;
}
.box_template p {
  text-align: left;
}
/*seperate template for certain images*/
.box_template_image {
  justify-content: center;
  text-align: center;
}
.box_template_image img {
  height: 560px;
  width: auto;
}
/*END*/

/*all CSS codes below are for footer only*/
.global_footer {
  display: flex;
  height: 200px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: dodgerblue;
}
/*spacing for the footer flex */
.global_footer div {
  margin-left: 15%;
  margin-right: auto;
}
.global_footer p,
h1,
h2,
h3 {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.global_footer p {
  width: 150px;
  color: #f9f9f9;
  font-weight: bold;
  margin-left: 0px;
}
/*hide bulletin*/
.global_footer ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
/*Spacing between quick links*/
.global_footer li {
  margin-top: 10px;
  color: #333333;
}

.global_footer a {
  color: #333333;
  text-decoration: none;
}

.global_footer a:hover {
  color: #f9f9f9;
  text-decoration: none;
  cursor: pointer;
}
.social_media {
  list-style-type: none;
  text-decoration: none;
}
.footer_image {
  margin-left: 10px;
  width: 300px;
  height: auto;
}

.outer_footer p {
  background-color: #11a9f9;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #f9f9f9;
} /*END*/

/*TEST*/
.image-about {
  height: 350px !important;
  width: auto;
  position: relative;
  left: 250px;
  bottom: 100px;
}

.about-text {
  position: relative;
  right: 150px;
  padding-right: 600px;
  top: 60px;
}
