<footer class = global_footer>
   <img class="footer_image" src="views/media/Nilda1.jpg"></img>
  <div style="margin-left:150px">
    <p>Quick Links</p>
    <div class="footer_quick_links">
      <ul>
        <li><a href="HomeWebsite.html">Home</a></li>
        <li> <a href="Opleiding.html">opleidingen</a></li>
        <li><a href="Niveau.html">Niveau</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="Contact.html">Contact</a></li>
  </ul>
</div>
  </div>
  <div style="margin-left:0px">
    <p>Social Media</p>
      <div class="social_media"> 
        <li><a href="https://nl-nl.facebook.com/NildaPintoSBOSteenrijk/">Facebook</a></li>
        <li><a href="https://www.schoolandcollegelistings.com/AN/Willemstad/164406837030279/Nilda-Pinto-SBO">News</a></li>
        <li><a href="http://nildapintosbo.yolasite.com/">History</a></li>
      </div>
  </div>
  <div class="footer_info" style="margin-left: 0px;">
    <p>Nilda Pinto SBO</p>
  
      <ul>
      <li>Wageningenstraat z/n</li>
      <li>Willemstad, Curaçao</li>
      <li>+5999 46118 38</li>
      <li><a href="mailto:decanaat.nildapinto@gmail.com">decanaat.nildapinto@gmail.com</a></li>
      </ul>
 
  </div>
  <div>

  </div>
 
</footer>
 <div class="outer_footer"><p>
   This website is copyrighted by Nilda Pinto SBO @ Created by Robert Brand 2022
 </p></div>